

.container  {
    min-height: 100vh;
    margin:0;
}

body {
    font-family: sans-serif;
}
.header {
    height: 78px;
}

.navigation ul {
    list-style-type: none;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.navigation li {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.navigation__item {
    margin-right: 72px;
    display: inline-block;
}


.navigation__item a {
    text-decoration: none;
    color: #ff0000;
}

.image {
    width: 100%;
    margin-top: 0;
    margin-bottom: 49px;
}


.content-title {
    height: 29px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 38px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}

.content {
    margin-bottom: 66px;
    font-weight: 400;
    letter-spacing: 2.4px;
    line-height: 26px;

}

.content__text {
    text-align: center;
    margin: 0 68px;
    font-size: 16px;
    font-style: normal;
    color: #373737;
}

.content__text:not(:last-of-type) {
    margin-bottom: 28px;
}

.link {
    display: block;
    width: 191px;
    height: 16px;
    margin: 0 auto 82px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    text-decoration: none;
    background: #FF0000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 43px;
    padding-right: 44px;
    border-radius: 4px;
}

.footer {
    font-weight: 700;
    font-size: 16px;
    text-align: end;
    margin-top: 0;
    margin-bottom: 29px;
    margin-right: 105px;
    margin-left: auto;
    color: #373737;
    letter-spacing: 2.4px;
}





